<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GlowfyApp"
        tools:targetApi="31">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".view.home.fragments.profile.ProfileDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.history.ScanHistoryDetail"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.history.ScanHistoryActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".view.welcome.WelcomeActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".view.detail.detailArticles.ArticlesDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.detail.detailSkins.SkinsDetailActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".view.detail.detailProducts.ProductDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.camera.CameraActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.auth.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.auth.RegisterActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.home.HomeActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".view.home.fragments.clinic.LocationChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>